<section data-ng-controller="HomeController">
   
  <div>
     <br/>
    <h2>Exercício Prático Blueticket - Daniel Anselmo Leandro</h2>
     <br/>
    <p>Implementação de um sistema WEB para a gestão de eventos e inscrições, servindo como exercício prático para a vaga de Desenvolvedor Fullstack na Blueticket, eleita pela Great Place to Work Brasil como uma das 25 melhores empresas para se trabalhar em Santa Catarina.</p>
     <br/>
     <p>Para navegar, utilize o menu no canto superior direito.</p>
  </div>
   <div>
    <h3>Tecnologias e Técnicas Utilizadas</h3>
    <p>Decidi por utilizar a MEAN Stack (http://meanjs.org), um conjunto de componentes e tecnologias para desenvolvimento de aplicações na plataforma Javascript:</p>
     
     <br/>
     <br/>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h4><a target="_blank" href="http://mongodb.org/"><strong>M</strong>ongoDB</a></h4>
      <p>Banco de Dados NoSQL</p>
    </div>
    <div class="col-md-3">
      <h4><a target="_blank" href="http://expressjs.com/"><strong>E</strong>xpress</a></h4>
      <p>Framework de desenvolvimento web para Node.js</p>
    </div>
    <div class="col-md-3">
      <h4><a target="_blank" href="http://angularjs.org/"><strong>A</strong>ngularJS</a> </h4>
      <p>Framework JS que roda no client side</p>
    </div>
    <div class="col-md-3">
      <h4><a target="_blank" href="http://nodejs.org/"><strong>N</strong>ode.js</a></h4>
      <p>Servidor Web e engine JS que roda no servidor</p>
    </div>
  </div>
   
</section>
