<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.evento.nome"></h1>
      <button class="btn btn-primary"  data-ui-sref="eventos.edit({ eventoId: vm.evento._id })">Editar Evento</button>
  </div>

  <p>
    Data: {{vm.evento.data  | date:'dd/MM/yyyy'  : 'UTC'}}
  </p>
  <p>
    Descrição: {{vm.evento.descricao}}
  </p>
  <p>
    Organizador: {{vm.evento.organizador}}
  </p>
  <p>
    Tipo:  <span ng-if="vm.evento.tipo==1">Show</span>
          <span ng-if="vm.evento.tipo==2">Balada</span>
          <span ng-if="vm.evento.tipo==3">Teatro</span>
          <span ng-if="vm.evento.tipo==4">Esporte</span>
  </p>
  <br/>
  <br/>

  <p>Lotação máxima: {{vm.evento.lotacao}}</p>
  <p>Inscrições realizadas: {{vm.evento.tickets.length}} ({{ (vm.evento.tickets.length / vm.evento.lotacao ) * 100 }} %) </p>
  
  <br/>
  <br/>
  <p>Lista de Inscrições: </p>
  <table class="table">
      <thead>
        <tr>
          <th>Nome</th>         
          <th>CPF</th>
         
        </tr>
      </thead>
      <tbody>
       
        <tr ng-repeat="ticket in vm.evento.tickets  | filter:search">
          <td> {{ticket.nome}}</td>
          <td>{{ticket.cpf}}</td>
          
        </tr>
      </tbody>
    </table>
    <p><a data-ui-sref="eventos.list">Ver outros eventos</a></p>
</section>
